// Place all the styles related to the sessions controller here.
// They will be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-in {
  padding-top: 30px;
  text-align: center;

  h1 {
    margin: 5px 0;
  }

  input {
    text-align: center;
  }

  form {
    margin-top: 30px;
  }
}

.sign-up-link {
  font-size: 14px;
}

