// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scorecard {
  & > li:nth-child(even) {
    background: $alt-color;
  }
  li {
    padding: 15px;
  }

  h4 {
    margin: 0;
  }

  ol li {
    padding: 5px 0;
  }

  a {
    cursor: pointer;
  }
}

.correctly-guessed-names {
  display: none;
}
