// Colors https://kuler.adobe.com/Copy-of-Longwood-Palette-2-color-theme-3277189/
$cta-color: #ff9311;
$alt-color: #ddd;
$dark-color: #17607d;
$link-color: #17607d;
$light-forecolor: #eee;
$alert-color: #e33200;


body {
  background: #e9ecee;
  padding-top: 70px;
}

.no-bull {
  list-style: none;
  padding-left: 0;
}

.with-horiz-padding {
  padding: 0 10px;
}
