$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-weight: 300;

$cta-color: #17607d;

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: #e9ecee;
  font-family: $font-family;
  font-weight: $font-weight;
  max-width: 320px;
  margin: 0 auto;
  padding: 15px;
 }

h1, h2, h3, h4 {
  font-weight: 400;
}

p {
  margin: 8px 0;
}

a {
  color: $cta-color;
}

.no-bull {
  list-style: none;
  padding-left: 0;
}

