doctype html
html
  head
    title Notes
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    meta name="apple-mobile-web-app-capable" content="yes"
    meta name="apple-mobile-web-app-status-bar-style" content="black"
    link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body

    - if current_user
      nav#menu
        ul
          li.user-nav style="background-image:url('#{gravatar_url(current_user.email, 66)}')"
            = current_user.name
          / NOTE: This link should be there after all the songs have been submited
          li
            = link_to_unless_current("new guess", { controller: "attempts", action: "new" }) do
              span new guess
          li
            = link_to_unless_current("scorecard", { controller: "users", action: "scorecard" }) do
              span scorecard
          / NOTE: This link should only be there before the guessing has started because it allows them to change their songs
          /li
          /  = link_to_unless_current("my songs", { controller: "songs", action: "index" }) do
          /    span my songs
          li
            = link_to "sign out", sign_out_path
        button#hide-menu-btn

      header
        button#menu-btn
        | notes

    - if flash.key?(:alert)
      #flash-alert = flash[:alert]
    - if flash.key?(:notice)
      #flash-notice = flash[:notice]

    = yield

